<div class="perfil">

    <div class="top">
        <img src="../../assets/logoKenai.svg" alt="">
        <p>{{horario}}</p>
    </div>

    <div class="perfil-main">
        <h1>Bem-vindo de volta ao Kenai</h1>
        <h3>Quem está usando?</h3>
    </div>

    <div class="perfil-usuarios">
        <div class="perfil-usuarios-item">
            <div class="item-foto"></div>
            <div class="item-nome">
                Robin 
            </div>
        </div>
        <div class="perfil-usuarios-item">
            <div class="item-foto color-2"></div>
            <div class="item-nome">
                Lucas Pascoal   
            </div>
        </div>
        <div class="perfil-usuarios-item">
            <div class="item-foto color-3"></div>
            <div class="item-nome">
                 Domminic
            </div>
        </div>
    </div>

    <div class="perfil-add">
        Adicionar perfil
    </div>
</div>